@media (max-width: 1200px){

}
@media (max-width: 1024px){
  footer li a {
    line-height: 30px
  }
}
@media (max-width: 980px){
  .test {
    text-align:center;
  }
  .navbar-toggle {
    float: right;
    height: 54px;
    padding:15px;
    margin: 0;
    background: none !important;
    margin-bottom: -19px;
  }
  .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus
  {
    background-color: #2d3134;
  }
  .navbar-default .navbar-toggle
  {
    border: none;
  }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: #fbf8f8

  }
  .log
  {
    text-align: center ;
  }
  .box
  {
    display: block;

  }
  .box .choose
  {
    text-align: center;
  }
  .box .account
  {
    text-align: center;
  }
  .social
  {
    display: none;
  }
  .logo img
  {
    padding: 10px;
  }
  .center
  {
    text-align: center;
  }
  .center a
  {

    font-size: 14px;

  }
  .shop button {

    width: auto;
  }
  .shop
  {
    text-align: -webkit-center;
  }

  .search
  {
    float: none;
    text-align: center;
  }
  .search button
  {
    position: initial;
  }


  .nav>li
  {

    padding-right: 12px;
  }
  .slider .owl-carousel#sync1 .owl-next,
  .slider .owl-carousel#sync1 .owl-prev
  {
    display: none !important;
  }
  .slider
  {
    margin-bottom: 0px;
  }
  .slider button
  {
    top:60%
  }
  .test {
    text-align:center;
  }
  footer
  {
    text-align: center;
  }

  .pull-right
  {
    float: none !important;
  }
  .phone .fa
  {
    float: none;
  }
  p.envelope {
    display: grid;
  }
}
@media (max-width: 800px){

}
@media (max-width: 768px){

}
@media (max-width: 480px){
  .news{
    padding:50px 10px;
    text-align: center;
  }
  .social-icons{
    text-align: center;
  }
  .searchs{
    margin-top: 30px
  }
}
@media (max-width: 360px){

  .center a
  {

    font-size: 13px;
  }
}
@media (max-width: 320px){


}

.navside {
  z-index: 999999;
}
