@font-face {
  font-family:helv;
  src:url(fonts/HelveticaNeueW23-Reg.ttf);
}
body
{
  font-family: helv;
  background: #ebebeb;
}
header .container,.slider_main .container,.test .container{
  background: #fff;
}
.test .container{
  padding: 40px
}

.btn:focus, .btn:active:focus, .btn.active:focus,
.btn.focus, .btn:active.focus,
.btn.active.focus{
  outline: none;
  box-shadow: none;
}
a ,a:hover, a:focus
{
  text-decoration: none;
}
.log
{
  text-align: right;
  padding: 20px 0;
}
.log span
{
  color: #dbdfde;
}
.log a
{
  color: #818483;
}
.box
{
  display: flex;
  justify-content: flex-end;
}
.box .choose
{
  text-align: right;
  padding: 10px 0 ;
}
.account
{
  padding: 10px 0 ;
}
.account .fa
{
  color: #818483;
}

button.btn.dropdown-toggle.btn-default
{
  border: none;
  color: #818483;
  padding-right: 1px;
}
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active,
.open>.dropdown-toggle.btn-default
{

  box-shadow: none;
  background-color: white;

}
button.btn.dropdown-toggle.btn-default:focus
{
  outline: none !important;
}
.btn-group .bootstrap-select:focus
{
  outline: none !important;

}
.bootstrap-select.btn-group .dropdown-toggle .filter-option
{
  text-align: right;
}
.bootstrap-select.btn-group .dropdown-toggle .caret
{
  right: 80px;
}
.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
  width: 150px;
}
.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn):focus,
.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn):hover {

  outline: none !important;
}
.choose i.fa.fa-usd
{
  top: 8px;
  right: 4px;
  color: #818483;
}

.dropdown-menu.open
{
  margin-right: -17px;
}
.box .social
{
  text-align: left;
}
.social i
{
  padding: 20px 30px 20px 0px;
}
i.fa.fa-wifi {
  color: #ffe400;
}
i.fa.fa-twitter {
  color: #00c6ff;
}
i.fa.fa-facebook {
  color: #3d75aa;
}
.center-header
{
  background-color: #ebebeb;
}
.logo {
  text-align: -webkit-center;
  margin: 20px 0;
}
.center li
{

  text-align: center;
  padding: 60px 15px;
}
.center a
{
  color: #eeac22;
  font-size: 15px;
  font-weight: bold;
}

.shop button
{
  background-color:#2196f3;
  border: none;
  box-shadow: none;
  color: white;
  width: 100%;
  height: 52px;
  margin: 50px 0;
  display: flex;

}
.badge
{
  padding: 7px ;
  border-radius: 50%;
  width: 25px;
  height: 25px;
}
.coin
{
  display: flex;
}
ul.dropdown-menu.pull-right {
  margin-top: -43px;
  margin-left: 15px;
}
.navbar-default {
  background-color: #2d3134;
  border: none;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form
{
  padding: 0;
}
.navbar-default .navbar-nav > li > a
{
  color: white;
  font-size: 13px;
  font-weight: bold;
  position: relative;
}
.navbar-default .navbar-nav > li > a:after{
  content: '';
  position: absolute;
  transition:all 300ms;
  height: 1px;
  background: #fff;
  bottom: 8px;
  width: 0px;
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus
{
  background-color: #ba4e0e;
  color: white;
}
.navbar-default .navbar-nav>.active>a:after,
.navbar-default .navbar-nav > li > a:hover:after,
.navbar-default .navbar-nav>a:hover:after,
.navbar-default .navbar-nav>.active>a:focus:after
{
  width: 40px;
}
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus
{
  background-color: #ba4e0e;
  color: white;
}

.search
{
  float: left;
}
.search input
{
  background-color: #25292c;
  border: 0;
  height: 50px;
  padding: 10px;
  color: white;
}
.search input:focus
{
  outline: none;
}
.search button
{
  background-color: #25292c;
  position: absolute;
  top: 0;
  left: 0px;
  height: 50px;
  border-radius: 0;
}
.search i
{
  color: #999;
}

.slider
{
  margin-top: 30px;
  margin-bottom: 50px;
}
.slider img
{
  position: relative;
}
.owl-prev , .owl-next
{
  position: absolute;
  top:0px;
  color: #d1d0ce;

}

.owl-carousel {
  direction: ltr;
}
.slider .owl-carousel#sync1 img

{
  display: block;
  width:100%;
}
.slider .owl-carousel#sync1 .owl-prev
{
  font-size: 25px;
  position: absolute;
  top: 44%;
  left: 50px;
  transform: translateX(-50%);
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
}
.slider .owl-carousel#sync1 .owl-next
{
  font-size: 25px;
  position: absolute;
  top: 44%;
  right: 1%;
  transform: translateX(-50%);
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
}

.slider .owl-carousel#sync1 .owl-next  ,.slider .owl-carousel#sync1 .owl-prev {
  background-color:white;
  color: #e2e2e2;
}
.slider button
{
  position: absolute;
  right: 8%;
  top: 70%;
  color: #f3f3f3;
  background-color: #ffc107;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 40px;
}
.slider button:hover
{
  color: white;
}
.btn:active, .btn.active
{
  box-shadow: none !important;
}
.buttons
{
  text-align: center;
  margin: 20px;
}
.buttons button
{
  background-color: #eaebeb;
  color: #a7a9aa;
  padding: 10px;
  margin: 10px;
  font-size: 16px;
  font-weight: bold;
}
.buttons button:hover,
.buttons button:focus
{
  color: #646668;
}
.mix{
  display: none;
}
.new
{
  border: 1px solid #dfdfdf ;
  text-align: center;
  margin: 30px 0;
}
.new:hover
{
  border-color: #2196f3;

}
.new img
{
  padding: 40px;
}
.new p
{
  color: #4e5453;
  font-size: 18px;
  padding: 30px;
}

.new .price
{
  color: #2196f3;
  font-size:20px;
  font-weight: bold;
}

.new button
{
  color: #4e5453;
  font-size:13px;
  font-weight: bold;
  margin-bottom: -14px;
  padding: 10px;
}

.new button:hover
{
  color: white;
  background-color: #2196f3;
}
.service
{
  background-color: #ebebeb;
  margin-top: 15px;
  padding: 50px 30px;
}
.service a i
{

  background-color: #ffc107;
  color: #ffff;
  font-size: 40px;
  border-radius: 50%;
  padding: 10px;
  height: 60px;
  width: 60px;
  text-align: center;
}
.media-heading
{
  margin: 10px;
}
.service h4
{
  color: #2e2e2e;
}
.service p
{
  color: #c5c6c6;
}
.news
{
  background-color: #393e42;
  padding: 50px;
}
.news a i
{
  color: white;
  font-size: 50px;
}
.news .media-body
{
  color: white;
}
.news span
{
  font-size: 20px;

}
.news p
{
  font-size: 13px;

}
.flipkart-navbar-input {
  position: relative;
  padding: 10px 30px;
  border-radius: 2px 0 0 2px;
  outline: 0 none;
  border: 0 none;
  font-size: 15px;
  margin-left: 0px;
  border-radius: 5px;
}

.flipkart-navbar-button
{
  background-color: #ffc107;
  border: 1px solid #ffc107;
  border-radius: 5px;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
  padding: 10px 30px;
  margin: 0 2px;
}
.flipkart-navbar-button:focus
{
  outline: none;
}
.social-icons
{
  text-align: left;
  padding: 40px 0;
}
.social-icons a i
{
  background-color: white;
  border-radius: 50%;
  padding: 10px;
  font-size: 15px;
  height: 35px;
  width: 35px;
  text-align: center;
}
.background
{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0072bc+0,0072bc+14,007ac1+30,00a5da+85,00aedf+100 */
  background: #0072bc; /* Old browsers */
  background: -moz-linear-gradient(top, #0072bc 0%, #0072bc 14%, #007ac1 30%, #00a5da 85%, #00aedf 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #0072bc 0%,#0072bc 14%,#007ac1 30%,#00a5da 85%,#00aedf 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #0072bc 0%,#0072bc 14%,#007ac1 30%,#00a5da 85%,#00aedf 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0072bc', endColorstr='#00aedf',GradientType=0 ); /* IE6-9 */
  padding: 50px 20px;
}
.ul-dash {
  list-style: none;
}


.background .list-unstyled li:before {
  content: '\f068';
  font-family: 'FontAwesome';
  font-size: 8px;
  margin-left: 10px;
  color: #fff;
}
.phone ,.envelope
{
  color: white;
}
.phone .fa{
  float: right;
  margin-left: 8px;
  margin-top: 5px;
}
.phone span{
  display: block;
}
.envelope .fa
{
  margin-left: 8px;
  margin-top: 5px;
}
footer a
, footer a:hover
{
  text-decoration: none;
  color: white;
  font-size: 12px;
  font-weight: bold;
}
footer h3
{
  color: white;
  font-size: 17px;
  font-weight: bold;
  padding-bottom: 20px;

}
footer li a
{
  line-height: 28px;
}
i.fa.fa-phone,
i.fa.fa-envelope-o
{
  font-size: 22px
}
.bottom-footer
{
  padding: 10px 0;
}
.bottom-footer p
{
  color: #9a9b9c;
}
.bottom-footer p a
{
  color:#2196f3;
}
.bottom-footer img
{
  float: left;
  margin-left: 15px;
}
